---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% assign portfolio = site.portfolio| sort: "year" | reverse %}
{% for por in portfolio %}
<div class="poritem">
  <div class="porteaser">
  <a href="{{por.link}}">
    <img
      src="/images/portfolio-pages/{{ por.slug }}_small.jpg"
      alt="{{por.slug}} portfolio teaser"
    />
  </a>
  </div>
    <div class="portitle">{{ por.title }}</div>
    <div class="porauthors">{{ por.type }}</div>
    <div class="porinfo">{{ por.info }}</div>
    <div class="publinks">
    <!--<a href="{{por.link}}"><i class="fas fa-solid fa-eye"></i></a>-->
  </div>
</div>
{% endfor %}
